.car-section {
    margin: 20px 0;
  }
  
  .car-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .car-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    width: 250px;
    text-align: left;
  }
  
  .car-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .car-card h3 {
    font-size: 1.2em;
    margin: 10px 0;
  }
  
  .car-card p {
    font-size: 1em;
    color: #333;
  }
  
  .car-card button {
    background-color: #FFFFFF;
    color: #f75d34;
    border: none;
    border-radius: 4px;
    padding: 6px;
    width: 80%;
    border: 1px solid #f75d34;
    cursor: pointer;
  }
  
  .car-card button:hover {
    background-color:#f75d34;
    color: #FFFFFF;
  }
  
  
  /* App.css */
  .search-form {
    position: absolute;
    top: 20%;
    left: 10%;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    z-index: 10;
    max-width: 300px;
  }
  
  .search-form h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .search-form .form-group {
    margin-bottom: 1rem;
  }
  
  .search-form button {
    width: 100%;
  }
  
  .carousel-item img {
    height: 540px;
    object-fit: cover;
  }
  
  
  